<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NBZxing.lib">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity android:name=".PermissionActivity" />

    </application>

</manifest>
